<h1 class="title">{{title}}</h1>
<div class="profile">
    <img class="profpic" src="{{profpic}}"></img>
    <div class="user-info">
        <p class="data-label">Name: <span class="data">{{name}}</span></p>
        <p class="data-label">ID Number: <span class="data">{{idnum}}</span></p>
        <p class="data-label">Degree Program: <span class="data">{{degree}}</span></p>
        <p class="data-label">Bio: <span class="data">{{shortbio}}</span></p>
    </div>
</div>
